html,
body {
    height: 100%;
}
body {
    font-size: 18px;
    
    /* see https://css-tricks.com/snippets/css/font-stacks/ */
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}
header,
footer {
    background-color: darkslategray;
    height: 75px;
}
main {
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;
    
    /* minus (header height + footer height) */
    height: calc(100% - 150px);
}

/* sticky footer, see https://getbootstrap.com/examples/sticky-footer/sticky-footer.css */
html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
